body {
  background-color: limegreen;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-family: fantasy;
}



h1, .container {
  width: 700px;
  margin: auto;

}

.time-and-hex {
  width: 600px;
  height: 400px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 50px;
  padding-top: 150px;
}

.hours::after, .minutes::after {
  content: ":";
}

.timebar-container {
  width: 600px;
}

.timebar {
  width: 0;
  height: 3px;
  background-color: white;
  margin:auto;


}
