body {
  font-family: monospace;
  background-image: url("http://img04.deviantart.net/e7b2/i/2012/175/b/3/clock_of_the_time_dragon__background__by_surrenderwhite-d54pcpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 400px;
  width: 600px;
  text-align: center;
  margin: 125px auto;
  border: 15px solid;
  border-radius: 50%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  text-decoration: underline;
}

.hours, .minutes, .seconds {
  display: inline-block;
  margin-top: 125px;
}

#clock {
  font-size: 50px;
  color: white;
  margin: auto;
}

#progress {
  height: 10px;
  width: 0;
  margin: auto;
  transition: width 1s linear;
  border: 2px solid black;
  border-radius: 40%;
}


.hours:after, .minutes:after {
  content: ":";
}
